.Blog {
  background-color: #d3d3d3;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 2%;
}

.Blog h1 {
  text-align: center;
  color: #00CED1;
}

.Blog img {
  margin-bottom: 2em;
}

.Images {
  display: flex;
  justify-content: space-between;
}

.Blogs {
  display: flex;
  /* justify-content:space-around; */
}

.Blogs img {
  padding-right: 15px;
  width: 200px;
}

.NoDec {
  text-decoration: none;
}
