.NavigationItem a {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  color: white;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  text-decoration: none;
  border-radius: 20px;
}

.NavigationItem a:hover {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  color: black;
  font-weight: bolder;
}
