.About {
  background-color: #d3d3d3;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 2%;
}

.Images {
  display: flex;
  margin: 0 auto;
  height: 500px;
}
