.About {
  background-color: #d3d3d3;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 2%;
}

.Images {
  display: flex;
  margin: 10% auto;
  height: 500px;
  padding-bottom: 30px;
}

.Name {
  color: white;
  text-align: center;
  font-size: 4em;
}

.Descriptor {
  font-size: 2em;
  text-align: center;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}
