.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.social:hover {
  transform: translateY(-2px);
}

.email {
  color: black;
  font-size: 33px;
}

.twitter {
  color: #49a1eb;
}

.linkedin {
  color: #0e76a8;
}

.instagram {
  color: black;
}
